{% extends 'note/layout.html.twig' %}

{% block title %}Dernières notes {% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      {% for note in notes %}
              <div class="col-4">
                <div class="card mb-4">
                  <div class="card-body">
                    <h5 class="card-title">#{{ note.id }} {{ note.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Par Charly</h6>
                      <p class="card-text">
                        <a href="{{ path('note_show', {'id': note.id}) }}">
                        {{ note.content }}
                        </a>
                      </p>
                    <a href="{{ path('note_show', {'id': note.id}) }}" class="card-link">Afficher</a>
                  </div>
                </div>
              </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
